.footer{
background: #000;
background-repeat: no-repeat;
background-size: 100%;
color: #8a8a8a;
font-size: 14px;



}
.footer p{
	color:#8a8a8a;
}
.footer h3{
	color: #fff;
	margin-bottom: 5px;
}
.footer-col-1, .footer-col-2 , .footer-col-3{
	min-width: 250px;
	margin-bottom: 5px;
}
.footer-col-1{
	flex-basis: 30%;
	text-align: center;
}
.footer-col-1 img{
	margin: 10px;
	width: 1500px;
}
.footer-col-2{
	flex: 1;
	text-align: center;
}
.footer-col-2 img{
	width: 200px;
}
.footer-col-3{
	flex-basis: 12%;
	text-align: center;
}
.footer img{
	border: none;
	size: 20px;
	width: 175px;
}
.footer hr{
	border: none;
	background: #b5b5b5;
	height: 1px;
	
}
.footer li{
color: #FFF;
}
.footer:hover li{
color: #F98B88;
cursor: pointer;
}
.copyright{
	text-align: center;
}

input{
	background: #e6ffff;
	margin-top: 10px;
	border-radius: 10px;
	border: groove;
	border-color: black;
	width: 50%;
}
select{
	background: #e6ffff;
	border-radius: 10px;
}
label{
	font-size: 50px;
	text-align: center;
	margin-bottom: px;

}
p{
font-style: italic;
}

.name{
	margin-bottom: 25px;
	width: 30%;
	height: 30px;
}

.IG{
	margin-bottom: 25px;
	width: 30%;
	height: 30px;
}

.email{
	margin-bottom: 25px;
	width: 30%;
	height: 30px;
}

.select{
	margin-bottom: 25px;
	width: 30%;
	height: 30px;
	border: groove;
	border-color: black;
}

.quant{
	margin-bottom: 25px;
	width: 30px;
	height: 24px;
	border: groove;
	margin-left: 5px;
	border-color: black;
}
.size{
	margin-bottom: 25px;
	width: 55px;
	height: 30px;
	border: groove;
	border-color: black;
	padding: 5px;

}
.btn{
	margin-bottom: 25px;
	display: inline-block;
	background: #ff523b;
	color: #fff;
	padding: 8px 30px;
	margin: 5px 0;
	margin-bottom: 30px;
	border-radius: 30px;
	transition: background 0.5s;
	margin-top: 30px;
}

.btn{
	cursor: pointer;
}
.btn:hover{
	background: #563434;

}

.dot-container {
  text-align: center;
  padding: 20px;
  background: #ddd;
}

a:hover{
background: #aefcb1;
}

.sitelogo:hover{
background: none;
}
.slider-img-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider-text {
 position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 10px;
  font-size: 20px;
  text-align: center;
}

.slideshow-container {
  max-width: 800px;
  position: relative;
  margin: auto;
}

.slideshow-container img{
	border-radius: 10px;
}

.mySlides {
  display: none;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: .4
  }
  to {
    opacity: 1
  }
}

@keyframes fade {
  from {
    opacity: .4
  }
  to {
    opacity: 1
  }
}
.slideshow-container {
  max-width: 800px;
  position: relative;
  margin: auto;
}

.mySlides {
  display: none;
  max-width: 800px;
  height: auto;
  margin: auto;
}

.prev, .next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  cursor: pointer;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.dot-container {
  text-align: center;
  padding: 20px;
  background: #ddd;
}

.dot {
  display: inline-block;
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/*media query for less than 600 screen screen size*/

@media only screen and (max-width: 600px){
	.row{
		text-align: center;
	}
	.col-2, .col-3, .col-4{
		flex-basis: 100%;
	}
	.small-containerandsingle-product .row{
		text-align: left;
	}
	.small-containerandsingle-product .col-2{
		padding: 20px 0;
	}
	.small-containerandsingle-product h1{
		font-size: 26px;
		line-height: 32px;
	}

	.cart-rows p{
		display: none;
		
	}

	.name{
		width: 65%;
	}

	.IG{
		width: 65%;
	}

	.email{
		width: 65%;
	}

	.address{
		width: 85%;
	}


.select{
	margin-bottom: 25px;
	width: 60%;
	height: 30px;
	border: groove;
	border-color: black;
	align-content: center;
}

.size{
	margin-bottom: 25px;
	width: 63%;
	height: 30px;
	border: groove;
	border-color: black;
	padding: 5px;
	align-content: center;

}
}

